body {
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    margin: 0;
}

.header {
    padding: 16px 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
  flex: 0 0 auto;
  font-size: 24px;
  font-weight: bold;
}

ul {
    display: flex;
    margin: 0;
    gap: 16px;
    list-style: none;
 }
a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display:flex;
    padding: 64px 88px;
    justify-content: space-between;
}
 .left-side {
    display: flex;
    flex-direction: column;
}

#hero-image{
    width: 500px;
    height: auto;
    padding: 16px 0 16px 16px ;
}
#hero-main {
    font-size: 48px;
    font-weight: 900;
}

#hero-secondary {
    color: #E5E7EB;
}

img {
    object-fit: contain;
}

button {
    border-radius: 8px;
    color: #F9FAF8;
    background-color: #3882F6;
    align-self: flex-start;
    font-size: 18px;
    border: 2px solid #3882F6;
    padding: 8px 32px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 88px;
    background-color: white;
    color: #1F2937;
    margin:0;
}

#info-header {
    font-weight: 900;
    font-size: 36px;
}

.info-img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.info-text {
    max-width: 200px;
}

.info-items {
    display: flex;
    flex-wrap: wrap;
    gap: 16px
}

.img-text {
    display: flex;
    flex-direction: column;
}

.review {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 64px 88px;
}

#signature {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
    margin: 0;
}

.call-container {
    background-color: white;
    display: flex;
    padding: 64px 88px;
    justify-content: center;
}

.call {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    display: flex;
    padding: 32px 64px;
    flex: 1;
    justify-content: space-around;
}
#call-button {
    border: 3px solid white;
    align-self: flex-end;
}

#call-main {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

#call-secondary {
    margin: 0;
}

.footer {
    text-align: center;
}